<!DOCTYPE html>
<html>
    <head>
        <title>Binlistdata</title>
    </head>
    <body>
        <% if (jr && jr.success && jr.results) { %>
            <p><b>Query</b>: <%= jr.query %></p>
            <p><b>Results</b>: <%= jr.results.length %></p>
            <br />
            <% jr.results.forEach(function(el){ %>
                <p><b>BIN/IIN number</b>: <%= el.iin_start %></p>
                <p><b>Brand</b>: <%= el.scheme %></p>
                <p><b>Country Code (ISO3166-1)</b>: <%= el.country %></p>
                <p><b>Bank</b>: <%= el.bank_name %></p>
                <p><b>Card Type</b>: <%= el.type %></p>
            <% }); %>
        <% } else if ( jr && jr.success ) { %>
            <p><b>Query</b>: <%= jr.query %></p>
            <p><b>BIN/IIN number</b>: <%= jr.number.prefix %></p>
            <p><b>Scheme</b>: <%= jr.scheme %></p>
            <p><b>Country Code (ISO3166-1)</b>: <%= jr.country.alpha2 %></p>
            <p><b>Country</b>: <%= jr.country.name %></p>
            <p><b>Bank</b>: <%= jr.bank.name %></p>
            <p><b>Card Type</b>: <%= jr.type %></p>
        <% } else { %>
            <p><%= jr.message %></p>
            <p><%= jr._debug %></p>
        <% } %>

        <footer>
            <small>
                &copy; Green Devil Apps 2015-2017
            </small>
        </footer>
    </body>
</html>
